.card {
    margin-bottom: 20px;
}

.links {
    display: flex;;
    justify-content: space-evenly;
    align-items: flex-end;
}

.card-title {
    color: white;
}

p {
    font-size: 14px;
    word-wrap: break-word;
    color: white;
}

.projectCard {
    width: 20rem;
    height: 460px;
    background-color: transparent;
    border-color: white;

}