.hero {
    height: fit-content;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* .hero::after {
    content: '';
    display: block;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1,
  .hero h2, 
  .hero h4 {
    color: white;
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 75px;
    margin-top: 0;
  }
  
  .li-link-social {
    list-style-type: none;
    display: inline;
  }
  
  .social-links  {
    display: inline !important;
  }

  .fab{ 
    padding: 15px 10px 20px 10px;
  }