.wrapper {
    min-height: 100%;
    padding-bottom: 50px;
    background: rgb(165,201,79);
    background: linear-gradient(90deg, rgba(165,201,79,1) 13%, rgba(45,144,100,1) 50%, rgba(37,204,223,1) 88%);
  }
  