.navbar {
  background: #5abb92;
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/18/background-2721423_960_720.jpg");
}
  .navbar-nav {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .navbar-brand {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
  }
  

  
