.footer {
    min-height: 100px;
    background: #5abb92;
    position: relative;
    background: rgb(165,201,79);
    background: linear-gradient(90deg, rgba(165,201,79,1) 13%, rgba(45,144,100,1) 50%, rgba(37,204,223,1) 88%);
  }
  
  .footer span {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: rgb(165,201,79);
    background: linear-gradient(90deg, rgba(165,201,79,1) 13%, rgba(45,144,100,1) 50%, rgba(37,204,223,1) 88%);
    color: white;
  }

  .li-link-social {
    list-style-type: none;
    display: inline;
  }

